{  
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "globals": {
    "chrome": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "no-plusplus": "off",
    "no-console": "off",
    "no-class-assign": "off",
    "import/no-named-as-default": 0,
    "react/prop-types": 0,
    "class-methods-use-this": [
      2,
      {
        "exceptMethods": [
          "fetch",
          "render",
          "getInitialState",
          "getDefaultProps",
          "getChildContext",
          "componentWillMount",
          "componentDidMount",
          "componentWillReceiveProps",
          "shouldComponentUpdate",
          "componentWillUpdate",
          "componentDidUpdate",
          "componentWillUnmount"
        ]
      }
    ]
  }
}
